<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Transactions | Fraud Inspector</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Fraud Inspector</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../fraudinspector/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Transactions <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../fraudinspector/seeclients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../fraudinspector/seecompanies">Companies</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        {% if limited %}
        <h5>Limited to 500 first transactions with amount > 50000 for time management, </h5><a href="seetransactions/unlimited" class="nav-link"><h5>click here to go unlimited.</h5></a></br>
        {% endif %}

        {% if about %}
        <h3>Checking incoming and outgoing transactions for client {{ about }}</h3></br>
        {% endif %}
	<table class="table" style="width: 80%;">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col" style="width:10%">ID</th>
	      <th scope="col" style="width:10%">Source</th>
	      <th scope="col" style="width:10%">Target</th>
	      <th scope="col">Amount</th>
	      <th scope="col">Date</th>
	      <th scope="col">Time</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for transaction in transactions %}
	    <tr>
	      <th scope="row">{{ loop.index }}</th>
	      <td>{{ transaction["id"] }}</td>
	      <td>{{ transaction["source"] }}</td>
	      <td>{{ transaction["target"] }}</td>
	      <td>{{ transaction["amount"] }}</td>
	      <td>{{ transaction["date"] }}</td>
	      <td>{{ transaction["time"] }}</td>
	    </tr>
            {% endfor %}
	  </tbody>
	</table>
      </div>

    </main><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="companies_files/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="companies_files/popper.js"></script>
    <script src="companies_files/bootstrap.js"></script>
  

</body></html>
